body {
  background-color:rgba(43, 122, 43, 0.68);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}

.container {
  background-color: rgba(0, 100, 0, 0.68);
  border: 2px groove;
  border-radius: 10px;

}

fieldset {
  padding: 20px;
  margin: 50px;
  background-color: rgb(0, 186, 43);
  border-radius: 20px;
}

legend {
  background-color: rgba(0, 100, 0, 0.68);
  border: 2px groove;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font: size 30px;
  color: white;
}

p.showResponse {
  color: white;
}